/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Ubuntu+Mono:400,400i,700,700i');

:root {
    --lightest-gray: #f5f5f5;
    --light-gray: #e9e9e9;
    --gray: #ececec;
    --dark-gray: #c0c0c0;
    --darkest-gray: red;
    --lightest-blue: #d6e9f5;
    --light-blue: #4fa3da;
    --blue: #0d6dad;
    --dark-blue: #0d567f;
    --darkest-blue: #003d5f;
    --lightest-orange: #ffdec3;
    --light-orange: #d0c6e7;
    --orange: #ff8d2b;
    --dark-orange: red;
    --darkest-orange: red;
    --title-font-family: "Nunito", sans-serif;
    --body-font-family: "Open Sans", sans-serif;
    --monospace-font-family: "Ubuntu Mono", monospace;
}

/* Reset defaults */

* {
    margin: 1em 0;
    padding: 0;
    box-sizing: border-box;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

html, body, div, a, br {
    margin: 0;
}

/* High-level layout */

body {
    display: grid;
    grid: "h h"
          "b s"
          "f f";
    grid-template-columns: minmax(0, 50em) 1fr;
    grid-template-rows: auto auto auto;
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 12pt;
    line-height: 20pt;
/*    color: rgba(0, 0, 0, 0.9); */
    background-color: var(--lightest-gray);
    max-width: 80em;
    margin: 0 auto;
}

@media screen and (max-width: 640px) {
    body {
        display: block;
    }
}

body > * {
    margin: 0;
    padding: 2em;
}

header {
    grid-area: h;
    padding: 0 2em;
    color: white;
    background-color: var(--blue);
}

main {
    grid-area: b;
    background-color: white;
}

sidebar {
    grid-area: s;
    background-color: var(--lightest-blue);
}

section {
}

footer {
    grid-area: f;
    border-top: 3px solid var(--lightest-orange);
    padding-top: 1.3em;
}

/* */

header a[href],
header a[href]:visited {
    color: white;
}

/* To be named */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font-family);
    font-weight: 700;
    line-height: 100%;
}

h1 {
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 0.8em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 1em;
    font-weight: 300;
}

hr {
    margin-top: 1em;
    border: none;
    border-top: 2px solid var(--gray);
    height: 1px;
}

ol, ul, dd {
    padding-left: 1.2em;
}

li, dt, dd {
    margin: 0;
}

li > ul, li > ol, dd > dl {
    margin-top: 0;
    margin-bottom: 0;
}

li > p:last-child, dd > p:last-child {
    margin-bottom: 1em;
}

span.tm {
    color: rgba(255, 255, 255, 0.5);
}

.two-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.three-column {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.four-column {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.column, li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

.indent {
    margin-left: 1em;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex > section,
.flex > div {
    flex: 1 0 0;
    margin: 0;
}

.hidden {
    display: none;
}

a > img {
    border: none;
}

a[href] {
    text-decoration: none;
    color: #0d6dad;
}

a[href]:visited {
    color: #0d567f;
}

a.heading-link {
    display: none;
    font-weight: 300;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

input, button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    border: 0.1em solid #d4d4d4;
    margin-top: 0;
    margin-bottom: 0;
}

input {
    width: 60%;
}

button {
    padding: 0 0.4em;
}

table {
    font-size: 0.9em;
    border: none;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #efefef;
    padding: 0.3em;
    vertical-align: top;
    text-align: left;
}

td:last-child, th:last-child {
    padding-right: 0;
    border-right: none;
}

td {
    overflow-wrap: break-word;
}

th, td > em, th > em {
    font-family: var(--title-font-family);
    font-size: 0.95em;
    font-style: normal;
    color: rgba(80, 80, 75, 0.8);
}

code, pre {
    font-family: var(--monospace-font-family);
    font-weight: 400;
    font-size: 0.95em;
}

blockquote, pre, .feature {
    padding: 1em;
    margin: 1.5em 0;
}

pre, .scroll {
    overflow: auto;
}

.panel {
    clear: both;
    padding: 1.5em;
}

#-logotype {
    font-weight: 700;
    font-size: 1.2em;
}

#-logotype > img {
    height: 2.2em;
    vertical-align: -0.7em;
    margin: 0 0.1em 0 0;
}

#-global-navigation {
    display: flex;
    align-items: baseline;
    font-family: var(--title-font-family);
    font-weight: 600;
    padding: 1em 0;
    margin: 0;
}

#-global-navigation > a {
    margin: 0 1.4em 0 0;
    color: rgba(255, 255, 255, 0.8);
}

#-global-navigation > a:first-child {
    padding-left: 0;
}

#-global-navigation > a:hover,
#-global-navigation > a:first-child {
    color: rgba(255, 255, 255, 1.0);
}

#-path-navigation {
    display: none;
    padding: 0;
    font-size: 0.9em;
    font-weight: 600;
}

#-path-navigation > a {
    padding: 0;
    margin: auto 0;
}

#-path-navigation > a:after {
    content: " \003e\00a0 ";
}

#-path-navigation > a:last-child:after {
    content: none;
}

#-apache-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 40em;
    font-size: 0.9em;
}

#-legal {
    font-size: 0.8em;
    clear: both;
}

/* Dashboard */

#-jira-goto-form {
    display: inline;
    margin: 0;
}

#-jira-goto-form input {
    width: 6em;
}

#-viewvc-goto-form {
    display: inline;
    margin: 0;
}

#-viewvc-goto-form input {
    width: 6em;
}

#-dashboard-forms {
    float: right;
}

#-dashboard-forms > form {
    margin: 0 1.2em 0 0;
    display: inline-block;
}

#-dashboard-forms > form:last-child {
    margin-right: 0;
}

#-dashboard-forms > #-jira-search-form {
    float: right;
}

#-dashboard-forms > #-jira-search-form input {
    width: 8em;
}

#-source-modules > table {
    width: 100%;
}

#-source-modules td, #-source-modules th {
    border: none;
}

#-source-modules > table th:nth-child(4) {
    width: 33%;
}

#-dashboard-links {
    font-size: 0.9em;
}

/* Adjustments for mobile devices */
