@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

{{include("config/transom/base.css")}}
{{include("config/transom/components.css")}}
{{include("config/transom/theme.css")}}
{{include("config/transom/layout.css")}}
{{include("config/prism.css")}}

@layer {
    :root {
        --heading-font-family: "Merriweather";
        --heading-font-weight: 700;
        --base-color: rgb(255, 252, 250);
    }

    div.code-label {
        color: var(--light-text-color);
        background-color: var(--light-background-color);
        padding: 0.2rem 0.5rem;
        border-bottom: var(--border-width) solid var(--border-color);
        margin-bottom: -1.33rem;
    }

    a.logo {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        font-family: var(--heading-font-family), sans-serif;
        font-size: 1rem;
        font-weight: 800;
    }

    a.logo > img {
        height: 1rem;
    }
}
