@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

{{include("config/transom.css")}}
{{include("config/prism.css")}}

:root {
    --heading-font-family: "Merriweather";
    --heading-font-weight: 700;
}

div.code-label {
    color: gray;
    background-color: var(--code-background-color, whitesmoke);
    padding: 0.2rem 0.5rem;
    border-bottom: 0.1rem solid var(--line-color, lightgray);
    margin-bottom: -1.33rem;
}

a.logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-family: var(--heading-font-family), sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

a.logo > img {
    height: 1rem;
}
