@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

{{include("config/transom/base.css")}}
{{include("config/transom/components.css")}}
{{include("config/transom/theme.css")}}
{{include("config/transom/layout.css")}}
{{include("config/prism.css")}}

@layer {
    :root {
        --base-color: rgb(255, 253, 250);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Merriweather";
        font-weight: 700;
    }

    div.code-label {
        color: oklch(from var(--light-foreground-color) calc(l - 0.2) c h);
        background-color: var(--light-background-color);
        padding: 0.2rem 0.6rem;
        border-bottom: var(--border-width) solid var(--light-foreground-color);
        margin-bottom: calc(var(--prose-element-gap) * -1);
    }

    a.logo {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        font-family: "Merriweather";
        font-size: 1rem;
        font-weight: 800;
    }

    a.logo > img {
        height: 1rem;
    }
}
