/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

@layer base, components, layout;

@layer base {
    :where(*, *::before, *::after) {
        box-sizing: border-box;
        margin: 0;
    }

    :where(html) {
        /* Prevent font size inflation */
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        /* Avoid layout jumps from disappearing scroll bars */
        overflow-y: scroll;
    }

    :where(body) {
        min-height: 100vh;
        line-height: 1.5;
        color: var(--text-color, black);
        background-color: var(--body-background-color, white);
    }

    :where(canvas, img, picture, svg, video) {
        display: block;
        max-width: 100%;
    }

    :where(input, button, textarea, select) {
        font: inherit;
    }

    /* Use flex for prose containers */
    :where(main, article, section, nav, aside, form, fieldset, figure) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    :where(hr) {
        border: 0;
        border-top: 0.1rem solid var(--line-color, lightgray);
    }
}

@layer components {
    :where(.path-nav) {
        display: inline;
        flex-direction: row;
    }

    :where(.path-nav > a:not(:last-child):after) {
        content: " \00a0\003e\00a0\00a0 ";
    }
}

@layer layout {
    :where(body) {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: minmax(2em, 1fr) calc(var(--page-width, 1100px) * 0.7) calc(var(--page-width, 1100px) * 0.3) minmax(2em, 1fr);
        grid-template-areas:
            "header header header header"
            ". main aside ."
            "footer footer footer footer";
    }

    :where(header) {
        grid-area: header;
        align-self: start; /* Important for sticky positioning */
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        border-bottom: 0.1rem solid var(--line-color, lightgray);
        padding: 1rem 1rem 0.9rem 1rem;
        background-color: var(--body-background-color, white);
    }

    :where(footer) {
        grid-area: footer;
    }

    :where(:is(header, footer) > div:nth-child(1)) {
        flex: 1;
    }

    :where(:is(header, footer) > div:nth-child(2)) {
        align-items: center;
        flex: 1;
        max-width: var(--page-width, 1100px);
        padding: 0 1rem;
    }

    :where(:is(header, footer) > div:nth-child(3)) {
        flex: 1;
    }

    :where(main) {
        grid-area: main;
        padding: 2rem 1rem;
    }

    :where(aside) {
        grid-area: aside;
        display: flex;
        flex-direction: column;
        align-self: start; /* Important for sticky positioning */
        position: sticky;
        top: 7.5em;
        margin-left: 1rem;
        padding-right: 1rem;
        padding-left: 2rem;
        border-left: 0.1rem solid var(--line-color, lightgray);
    }

    /* :where(footer) { */
    /*     grid-area: footer; */
    /*     display: flex; */
    /*     justify-content: center; */
    /*     border-top: 0.1rem solid var(--line-color, lightgray); */
    /* } */

    /* :where(footer > div) { */
    /*     padding: 1rem; */
    /*     width: var(--page-width, 1100px); */
    /* } */
}
