/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

@layer base, components, layout, fonts;

@layer base {
    :where(*, *::before, *::after) {
        box-sizing: border-box;
        margin: 0;
    }

    :where(html) {
        /* Prevent font size inflation */
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        /* Avoid layout jumps from disappearing scroll bars */
        overflow-y: scroll;
    }

    :where(body) {
        min-height: 100vh;
        color: var(--text-color, hsl(0, 0%, 20%));
        background-color: var(--body-background-color, white);
    }

    :where(:is(main, article, section, aside, form, fieldset, figure, li) > * + *) {
        margin-top: var(--prose-margin, 1.33rem);
    }

    /* Prevent long words from distorting layouts */
    :where(p, h1, h2, h3, h4, h5, h6) {
        overflow-wrap: break-word;
    }

    :where(h1, h2, h3, h4, h5, h6) {
        text-wrap: balance;
    }

    :where(p) {
        text-wrap: pretty;
    }

    :where(a), :where(a:visited) {
        color: var(--link-color, royalblue);
        text-decoration: inherit;
    }

    :where(img, canvas, picture, svg, video) {
        display: block;
        max-width: 100%;
    }

    :where(input, button, textarea, select) {
        font: inherit;
    }

    :where(hr) {
        border: 0;
        border-top: 0.1rem solid var(--border-color, lightgray);
    }

    :where(code, pre) {
        background-color: var(--code-background-color, whitesmoke);
    }

    :where(code) {
        padding: 0 0.1rem;
    }

    :where(pre) {
        padding: 0.9rem 1rem;
        overflow-y: auto;
    }

    :where(pre > code) {
        padding: 0;
    }

    :where(ul, ol, dd) {
        padding-left: 1.3rem;
    }

    :where(th) {
        text-align: left;
    }
}

@layer components {
    :where(nav.transom-page-path) {
        display: inline;
        flex-direction: row;
    }

    :where(nav.transom-page-path > a + a)::before {
        content: " \00a0\003e\00a0\00a0 ";
    }

    :where(nav.transom-page-toc) {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    :where(nav.transom-page-toc) > a {
        text-wrap: balance;
    }

    :where(nav.transom-page-toc) > a.selected {
        color: inherit;
        font-weight: 450;
    }
}

@layer layout {
    :where(html) {
        scroll-padding-top: 6rem;
    }

    :where(body) {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns:
            minmax(2em, 1fr)
            calc(var(--page-width, 1100px) * 0.7)
            calc(var(--page-width, 1100px) * 0.3)
            minmax(2em, 1fr);
        grid-template-areas:
            "header header header header"
            ". main aside ."
            "footer footer footer footer";
    }

    :where(header, footer) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        background-color: var(--body-background-color, white);
    }

    :where(header) {
        grid-area: header;
        align-self: start; /* Important for sticky positioning */
        position: sticky;
        top: 0;
        padding: 1rem;
        border-bottom: 0.1rem solid var(--border-color, lightgray);
    }

    :where(footer) {
        grid-area: footer;
        padding: 2rem 1rem;
        border-top: 0.1rem solid var(--border-color, lightgray);
    }

    :where(:is(header, footer) a) {
        color: inherit;
        text-decoration: inherit;
    }

    :where(:is(header, footer) > div:nth-child(1)) {
        flex: 0 1 calc((100% - (var(--page-width, 1100px))) / 2);
    }

    :where(:is(header, footer) > div:nth-child(2)) {
        flex: 0 1 var(--page-width, 1100px);
        padding: 0 1rem;
    }

    :where(:is(header, footer) > div:nth-child(3)) {
        flex: 0 1 calc((100% - (var(--page-width, 1100px))) / 2);
        display: flex;
        justify-content: right;
    }

    :where(main) {
        grid-area: main;
        padding: 2rem 1rem;
    }

    :where(aside) {
        grid-area: aside;
        align-self: start; /* Important for sticky positioning */
        position: sticky;
        top: 6rem;
        margin: 0 0 0 1rem;
        padding: 0 1rem 0 2rem;
        border-left: 0.1rem solid var(--border-color, lightgray);
    }
}

@layer fonts {
    :where(body) {
        font-family: var(--body-font-family, "Inter"), sans-serif;
        font-size: var(--body-font-size, 0.9rem);
        font-weight: var(--body-font-weight, 400);
        line-height: var(--body-line-height, 1.66);
    }

    :where(h1, h2, h3, h4, h5, h6) {
        font-family: var(--heading-font-family, "Inter"), sans-serif;
        font-weight: var(--heading-font-weight, 600);
        line-height: var(--heading-line-height, 1.33);
    }

    :where(h1) {
        font-size: calc(1.6 * var(--heading-font-size, 0.9rem));
    }

    :where(h2) {
        font-size: calc(1.3 * var(--heading-font-size, 0.9rem));
    }

    :where(h3) {
        font-size: calc(1.1 * var(--heading-font-size, 0.9rem));
    }

    :where(h4) {
        font-size: var(--heading-font-size, 0.9rem);
    }

    :where(b, strong) {
        font-weight: 600;
    }

    :where(code, pre) {
        font-family: var(--code-font-family, "Roboto Mono"), monospace;
        font-size: var(--code-font-size, 0.8rem);
        font-weight: var(--code-font-weight, 400);
        line-height: var(--code-line-height, 1.66);
    }

    :where(th) {
        font-weight: var(--heading-font-weight, 600);
    }
}
