@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Material+Symbols+Outlined&display=swap');

{{file.include("config/transom.css")}}

body {
    font-family: "Inter", sans-serif;
    font-weight: 375;
    font-style: normal;
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 575;
}

code, pre {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
}

.material-symbols-outlined {
    line-height: inherit !important;
}
