@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Material+Symbols+Outlined&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css");

{{include("config/transom.css")}}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 575;
}

code, code[class*="language-"], pre, pre[class*="language-"] {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    background-color: var(--code-background-color, whitesmoke);
}

.material-symbols-outlined {
    line-height: inherit !important;
}
