@layer theme {
    :where(:root) {
        --base-color: white;
        --light-border-color: oklch(from var(--base-color) calc(l - 0.15) c h);
        --light-text-color: oklch(from var(--base-color) calc(l - 0.3) c h);
        --light-background-color: oklch(from var(--base-color) calc(l - 0.025) c h);
        --dark-border-color: oklch(from var(--base-color) calc(l - 0.4) c h);
        --dark-text-color: oklch(from var(--base-color) calc(l - 0.6) c h);
        --dark-background-color: oklch(from var(--base-color) calc(l - 0.1) c h);
        --link-color: oklch(from var(--base-color) calc(l - 0.4) calc(c + 0.2) calc(h + 180));
        --border-width: 0.05rem;
    }

    :where(html) {
        scrollbar-color: var(--light-border-color) var(--base-color);
    }

    :where(body) {
        color: var(--body-color, var(--dark-text-color));
        background-color: var(--body-backround-color, var(--base-color));
        font-family: var(--body-font-family, "Inter"), sans-serif;
        font-size: var(--body-font-size, 0.9rem);
        font-weight: var(--body-font-weight, 400);
        line-height: var(--body-line-height, 1.66);
    }

    :where(h1, h2, h3, h4, h5, h6) {
        color: var(--heading-color, inherit);
        background-color: var(--heading-background-color, inherit);
        font-family: var(--heading-font-family, "Inter"), sans-serif;
        font-weight: var(--heading-font-weight, 600);
        line-height: var(--heading-line-height, 1.33);
    }

    :where(h1) {
        font-size: calc(1.6 * var(--heading-font-size, 0.9rem));
    }

    :where(h2) {
        font-size: calc(1.3 * var(--heading-font-size, 0.9rem));
    }

    :where(h3) {
        font-size: calc(1.1 * var(--heading-font-size, 0.9rem));
    }

    :where(h4) {
        font-size: var(--heading-font-size, 0.9rem);
    }

    :where(b, strong) {
        font-weight: 600;
    }

    :where(a:not(:is(header, footer) a)) {
        color: var(--link-color, royalblue);
        background-color: var(--link-background-color, inherit);
        font-weight: inherit;
    }

    :where(a.selected) {
        color: var(--selected-link-color, var(--dark-text-color));
        background-color: var(--selected-link-background-color, inherit);
        font-weight: var(--selected-link-font-weight, 500);
    }

    :where(hr) {
        background-color: var(--border-color, var(--light-border-color));
        height: var(--border-width, 0.1rem);
    }

    :where(code, pre) {
        color: var(--code-color, var(--dark-text-color));
        background-color: var(--code-background-color, var(--light-background-color));
        font-family: var(--code-font-family, "Roboto Mono"), monospace;
        font-size: var(--code-font-size, 0.8rem);
        font-weight: var(--code-font-weight, 400);
        line-height: var(--code-line-height, 1.66);
    }

    :where(pre), code:not(pre code) {
        background-color: var(--code-background-color, var(--light-background-color));
    }

    :where(th) {
        font-weight: var(--heading-font-weight, 600);
    }
}
