@layer theme {
    :where(:root) {
        /* Color variables */
        --base-color: white;
        --light-accent-color: oklch(from var(--base-color) calc(l - 0.2) calc(c + 0.2) calc(h + 180));
        --light-background-color: oklch(from var(--base-color) calc(l - 0.02) c h);
        --light-foreground-color: oklch(from var(--base-color) calc(l - 0.2) c h);
        --dark-accent-color: oklch(from var(--base-color) calc(l - 0.5) calc(c + 0.2) calc(h + 180));
        --dark-background-color: oklch(from var(--base-color) calc(l - 0.1) c h);
        --dark-foreground-color: oklch(from var(--base-color) calc(l - 0.6) c h);
        --link-color: var(--dark-accent-color);

        /* Font variables */
        --base-font-family: "Inter", sans-serif;
        --base-font-size: 0.9rem;
        --base-font-weight: 400;
        --base-line-height: 1.66;
        --monospace-font-family: "Roboto Mono", monospace;
        --semibold-font-weight: calc(var(--base-font-weight) + 100);
        --bold-font-weight: calc(var(--base-font-weight) + 200);

        /* Border variables */
        --border-width: 0.05rem;
    }

    :where(html) {
        scrollbar-color: var(--light-foreground-color) var(--base-color);
    }

    :where(body) {
        color: var(--dark-foreground-color);
        background-color: var(--base-color);
        font-family: var(--base-font-family);
        font-size: var(--base-font-size);
        font-weight: var(--base-font-weight);
        line-height: var(--base-line-height);
    }

    :where(h1, h2, h3, h4, h5, h6) {
        font-weight: var(--bold-font-weight);
        line-height: calc(var(--base-line-height) * 0.8);
    }

    :where(h1) {
        font-size: calc(1.6 * var(--base-font-size));
    }

    :where(h2) {
        font-size: calc(1.3 * var(--base-font-size));
    }

    :where(h3) {
        font-size: calc(1.1 * var(--base-font-size));
    }

    :where(h4) {
        font-size: var(--base-font-size);
    }

    :where(b, strong) {
        font-weight: var(--bold-font-weight);
    }

    :where(a:not(:is(header, footer) a)) {
        color: var(--link-color);
    }

    :where(a.selected) {
        color: var(--dark-foreground-color);
        font-weight: var(--semibold-font-weight);
    }

    :where(hr) {
        background-color: var(--border-color);
        height: var(--border-width);
    }

    :where(code, pre) {
        color: var(--dark-foreground-color);
        font-family: var(--monospace-font-family);
        font-size: calc(var(--base-font-size) * 0.9);
        line-height: var(--base-line-height) * 0.95;
    }

    :where(pre) {
        border: var(--border-width) solid oklch(from var(--light-background-color) calc(l - 0.02) c h);
        border-radius: 0.4rem;
    }

    :where(code:not(pre code), pre) {
        background-color: var(--light-background-color);
    }

    :where(th) {
        font-weight: var(--bold-font-weight);
    }
}
