/* (setq ansi-color-names-vector ["black" "tomato" "PaleGreen2" "gold1" "blue2" "MediumOrchid1" "cyan" "white"]) */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: dimgray;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: saddlebrown;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: brown;
}

.token.operator,
.token.entity,
.token.url,
    color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: royalblue;
}

.token.function {
    color: seagreen;
}

.token.class-name {
    color: royalblue;
}

.token.regex,
.token.important,
.token.variable {
    color: seagreen;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
